<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Mochi uses your camera to scan receipts so you can log purchases quickly.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Mochi uses Face ID to unlock your private spending history when privacy lock is enabled.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mochi reads photos from your library so you can scan saved receipt images.</string>
</dict>
</plist>
